<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="word">
      <h2 data-cy="wordDetailsHeading"><span jhiTranslate="cheaEngineApp.word.detail.title">Word</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ word.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="cheaEngineApp.word.guessedWord" [ngbTooltip]="'cheaEngineApp.word.help.guessedWord' | translate"
            >Guessed Word</span
          >
        </dt>
        <dd>
          <span>{{ word.guessedWord }}</span>
        </dd>
        <dt><span jhiTranslate="cheaEngineApp.word.firstLetter">First Letter</span></dt>
        <dd>
          <span>{{ word.firstLetter }}</span>
        </dd>
        <dt><span jhiTranslate="cheaEngineApp.word.lenght">Lenght</span></dt>
        <dd>
          <span>{{ word.lenght }}</span>
        </dd>
        <dt><span jhiTranslate="cheaEngineApp.word.forbidenLetters">Forbiden Letters</span></dt>
        <dd>
          <span>{{ word.forbidenLetters }}</span>
        </dd>
        <dt><span jhiTranslate="cheaEngineApp.word.discoveredLetters">Discovered Letters</span></dt>
        <dd>
          <span>{{ word.discoveredLetters }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/word', word.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
