<div>
  <h2 id="page-heading" data-cy="WordHeading">
    <span jhiTranslate="cheaEngineApp.word.home.title">Words</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cheaEngineApp.word.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-word"
        [routerLink]="['/word/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cheaEngineApp.word.home.createLabel"> Create a new Word </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="words?.length === 0">
    <span jhiTranslate="cheaEngineApp.word.home.notFound">No words found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="words && words.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="guessedWord">
            <span jhiTranslate="cheaEngineApp.word.guessedWord">Guessed Word</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstLetter">
            <span jhiTranslate="cheaEngineApp.word.firstLetter">First Letter</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lenght">
            <span jhiTranslate="cheaEngineApp.word.lenght">Lenght</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="forbidenLetters">
            <span jhiTranslate="cheaEngineApp.word.forbidenLetters">Forbiden Letters</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="discoveredLetters">
            <span jhiTranslate="cheaEngineApp.word.discoveredLetters">Discovered Letters</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let word of words; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/word', word.id, 'view']">{{ word.id }}</a>
          </td>
          <td>{{ word.guessedWord }}</td>
          <td>{{ word.firstLetter }}</td>
          <td>{{ word.lenght }}</td>
          <td>{{ word.forbidenLetters }}</td>
          <td>{{ word.discoveredLetters }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/word', word.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/word', word.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(word)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
