<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-word-heading" data-cy="WordCreateUpdateHeading" jhiTranslate="cheaEngineApp.word.home.createOrEditLabel">
        Create or edit a Word
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="cheaEngineApp.word.guessedWord"
            for="field_guessedWord"
            [ngbTooltip]="'cheaEngineApp.word.help.guessedWord' | translate"
            >Guessed Word</label
          >
          <input
            type="text"
            class="form-control"
            name="guessedWord"
            id="field_guessedWord"
            data-cy="guessedWord"
            formControlName="guessedWord"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cheaEngineApp.word.firstLetter" for="field_firstLetter">First Letter</label>
          <input
            type="text"
            class="form-control"
            name="firstLetter"
            id="field_firstLetter"
            data-cy="firstLetter"
            formControlName="firstLetter"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cheaEngineApp.word.lenght" for="field_lenght">Lenght</label>
          <input type="number" class="form-control" name="lenght" id="field_lenght" data-cy="lenght" formControlName="lenght" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cheaEngineApp.word.forbidenLetters" for="field_forbidenLetters">Forbiden Letters</label>
          <input
            type="text"
            class="form-control"
            name="forbidenLetters"
            id="field_forbidenLetters"
            data-cy="forbidenLetters"
            formControlName="forbidenLetters"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cheaEngineApp.word.discoveredLetters" for="field_discoveredLetters"
            >Discovered Letters</label
          >
          <input
            type="text"
            class="form-control"
            name="discoveredLetters"
            id="field_discoveredLetters"
            data-cy="discoveredLetters"
            formControlName="discoveredLetters"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
